$color-white: #d7d7d7;
$color-gray-blue: rgb(146, 199, 211);

$base-font-size: 50px;

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: $base-font-size;

}

html, body {
  height: 100vh;
  background-color: $color-white;
}

::-webkit-scrollbar {
  height: 2px;
}
//
//::-webkit-scrollbar-thumb {
//
//}
//
//::-webkit-scrollbar-track {
//  height: 2px;
//}
