header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 95%;
  height: 100px;

  margin: 10px auto;

  background-color: $color-gray-blue;
  border-radius: 15px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h1 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-style: italic;
    color: $color-white;
  }
}