header {
  width: 95%;

  padding: 15px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h1 {
    display: flex;
    align-items: center;
    font-weight: lighter;
    transition: transform 1s;

    img {
      position: relative;
      top: 3px;
      left: 5px;
      width: 15px;
      height: 15px;
    }

    &.active {
      transform: translate(0, 20px);
    }
  }
}