.weather-now {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100px;

  margin-top: 20px;

  transition: all .5s;

  span {
    transition: all .5s;

    &.temp {
      transform: translate(-120px, 0);
      font-size: 2rem;

      &.active {
        transform: none;
      }
    }

    &.param {
      transform: translate(70px, -50px);
      text-transform: capitalize;
      font-size: 0.8rem;

      &.active {
        transform: none
      }
    }
  }

  sup {
    position: relative;
    left: 5px;
    top: -5px;
    font-size: 0.8rem;
  }

  &.active {
    height: 180px;
    margin: 80px auto 100px auto;
  }
}