.weather-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 10px;

  p {
    font-size: .5rem;

    sup {
      font-size: .4rem;
    }
  }

  img {
    height: 40px;
    width: 40px;
    margin: 5px 0;
    -webkit-user-drag: none;
  }
}