.weather-now {
  margin-top: 20px;
  span {
    &.temp {
      font-size: 2rem;
    }
    &.param {
      font-size: 0.8rem;
    }
  }
  sup {
    position: relative;
    left: 5px;
    top: -5px;
    font-size: 0.8rem;
  }
}