* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 50px; }

html, body {
  height: 100vh;
  background-color: #d7d7d7; }

::-webkit-scrollbar {
  height: 2px; }

.background {
  background-image: url(https://oboitd.ru/images/goods/big/20200123093425_Oblaka_7-026.jpg);
  height: 100vh;
  animation: bg-movement 150s linear infinite; }

@keyframes bg-movement {
  0% {
    background-position-x: 0;
    background-position-y: 0; }
  100% {
    background-position-x: -1300px;
    background-position-y: -300px; } }

header {
  width: 95%;
  padding: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  header h1 {
    display: flex;
    align-items: center;
    font-weight: lighter;
    transition: transform 1s; }
    header h1 img {
      position: relative;
      top: 3px;
      left: 5px;
      width: 15px;
      height: 15px; }
    header h1.active {
      transform: translate(0, 20px); }

main {
  margin: 0 auto;
  width: 95%; }
  main .datetime {
    margin: 10px;
    font-size: 0.5rem; }

.weather-now {
  margin-top: 20px; }
  .weather-now span.temp {
    font-size: 2rem; }
  .weather-now span.param {
    font-size: 0.8rem; }
  .weather-now sup {
    position: relative;
    left: 5px;
    top: -5px;
    font-size: 0.8rem; }

.weather-today {
  display: flex;
  margin-top: 20px;
  height: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: grab;
  overflow-x: auto; }

.weather-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px; }
  .weather-item p {
    font-size: .4rem; }
    .weather-item p sup {
      font-size: .4rem; }
  .weather-item img {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
    -webkit-user-drag: none; }
